**/bin/
**/obj/
.vs/
TestResults/
artifacts/
dist/
releases/
*.exe
.build/
.tmp/
config.json
auth.json
*.user
*.suo
*.userosscache
*.sln.docstates
Screenshot.jpg
android/.gradle/
android/app/build/
android/local.properties
